$background-color: #f2f4f8;

$primary-color: #4A00E0;

$primary: #4A00E0;

$secondary-color: #6c757d;

$heading-color: #27303f;

$text-color:#65748b;

$border-color: #e2e8f0;

$white-color: #ffffff;

$bg-secondary: #8897aa;

$bg-white-2: #f7f6f7;

$dark-text: #222222;

$dark-text-2: #343a40;

$green-color: #04d39f;

$bg-gray: #eef5f9;

$danger-color: #ff054b;

$info-color: #39afd1;

$white-color-2: #f1f1f1;

$warning-color: #ff9b05;

$gray-color: #777;

$blue-color: #0168fa;

$text-gray: #b4b6b8;

$blue-2: #04d39f;

$purple-color: #4A00E0;

$bg-dark: #282f3a;

$dark: #000000;

$bg-chok: #462f3f;

$pink-darken-4: #880e4f;

$bg-default: #0168fa;

$text-secondary:#04d39f;

$text-success-color: #04d39f;

$bg-warning-color: #fdb901;

$red-darken-4: #fa5c7c;

$bg-opacity-default-5: rgba(94, 37, 114, 0.50);

$bg-opacity-default-7: rgba(94, 37, 114, 0.70);

$bg-opacity-default-8: rgba(94, 37, 114, 0.80);

$green-opacity-8: rgba(114, 192, 44, 0.8);

$green-opacity-9: rgba(114, 192, 44, 0.9);

$green-opacity-5: rgba(40, 167, 69, 0.5);

$dark-opacity-5: 0px 0px 10px rgba(0, 0, 0, 0.5);

$dark-opacity-95: 0px 0px 10px rgba(0, 0, 0, 0.95);

$white-opacity-2: rgba(255, 255, 255, 0.3);

$white-opacity-5: rgba(255, 255, 255, 0.5);

$white-opacity-7: rgba(255, 255, 255, 0.70);