<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CovidToday</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>

<body>
    <!-- Preloader -->


    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        <div class="ecaps-sidemenu-area">
            <!-- Desktop Logo -->
            <div>
                <a href="/"><img th:src="@{/images/core-img/logo1.png}" width="430" height="90"></a>
            </div>
            <!-- Side Nav -->
            <div class="ecaps-sidenav" id="ecapsSideNav">
                <!-- Side Menu Area -->
                <div class="side-menu-area">
                    <!-- Sidebar Menu -->
                    <nav>
                        <ul class="sidebar-menu" data-widget="tree">
                            <li><a href="/"><i class='bx bx-home-heart'></i><span>Inicio</span></a></li>
                            <li class="active"><a href="sintomas"><i class='bx bx-certification'></i><span>Síntomas</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo mr-3 mr-sm-4">
                        <a href="index.html"><img src="img/core-img/small-logo.png" alt="Mobile Logo"></a>
                    </div>

                    <!-- Triggers -->


                    <!-- Left Side Nav -->

                </div>

                <div class="right-side-navbar d-flex align-items-center justify-content-end">
                    <div class="dashboard-infor-mation d-flex flex-wrap align-items-center">
                        <h6 ><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js%27%3E'></script><script type='text/javascript'>kofiwidget2.init('Apoyame con un café', '#29abe0', 'H2H21QSWC');kofiwidget2.draw();</script> </h6>
                        <div class="dashboard-clock">
                            <div class="font-13 text-primary" id="dashboardDate"></div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content Area -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card box-margin">
                                <div class="card-body">
                                    <div class="content-box">
                                        <div class="inner-box">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="card-title mb-1">COVID-19 Coronavirus - Síntomas</h4>
                                                    <p class="mb-30">Los síntomas más comunes de COVID-19 son fiebre, cansancio y tos seca. Algunos pacientes pueden tener dolores y molestias, congestión nasal, secreción nasal, dolor de garganta o diarrea. Estos síntomas generalmente son leves y comienzan gradualmente. También los síntomas pueden aparecer 2-14 días después de la exposición.</p>
                                                </div>
                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/8.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Toser y estornudar</a></h5>                  
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/9.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Fiebre</a></h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/11.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Fuerte dolor de cabeza</a></h5> 
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/12.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Dificultad para respirar</a></h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/13.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Confusión</a></h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Single Card -->
                                                <div class="col-md-6">
                                                    <div class="virus-symptoms-card mb-50">
                                                        <div class="icon-thumb"> <img th:src="@{images/icon-img/16.png}" alt=""></div>
                                                        <div class="single-symptoms-content text-center">
                                                            <h5><a href="#">Dolor de garganta</a></h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <h4>Otros síntomas</h4>
                                                    <p>Algunos pacientes pueden tener dolores y molestias, congestión nasal, secreción nasal, dolor de garganta o diarrea. Estos síntomas generalmente son leves y comienzan gradualmente. Algunas personas se infectan pero no desarrollan ningún síntoma y no se sienten mal. La mayoría de las personas (alrededor del 80%) se recuperan de la enfermedad sin necesidad de un tratamiento especial.</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="card box-margin">
                                <div class="card-body">
                                    <div class="news-thumb">
                                        <img th:src="@{images/bg-img/16.jpg}" alt="">
                                    </div>
                                    <div class="entry mt-5">
                                        <h5 class="text-primary">Síntomas y que hacer</h5>
                                        <p class="text-danger"><strong>No debe abandonar su hogar</strong> si tiene alguno de los  <strong>síntomas del coronavirus</strong> (temperatura alta o una tos nueva y continua) llame a su servicio médico.</p>
                                        <h6 class="text-primary">Quédese en casa para detener la propagación del coronavirus</h6>
                                        <p>Todos deben quedarse en casa para ayudar a detener la propagación del coronavirus. Solo debe salir de la casa con fines muy limitados:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Area -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Footer Area -->
                            <footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
                                <!-- Copywrite Text -->
                                <div class="copywrite-text">
                                    <p class="font-13">Created by @<a href="https://twitter.com/TodayCovid">CovidToday.</a></p>
                                </div>
                                <div class="fotter-icon text-center">
                                    <p class="mb-0 font-13">2020 @ CovidToday. </p>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    <script src="js/jquery.min.js"></script>
   
    
    <script src="js/bundle.js"></script>
 

    <!-- Active JS -->
    <script src="js/default-assets/active.js"></script>

</body>

</html>